:root {
  --main-color:hsl(172, 67%, 45%);
  --dark-cyan:hsl(183, 100%, 15%);
  --dark-grayish-cyan:hsl(186, 14%, 43%);
  --light-grayish-cyan:hsl(185, 41%, 84%);
  --very-light-grayish-cyan:hsl(189, 41%, 97%);
  --grayish-cyan:hsl(184, 14%, 56%);
  --white: hsl(0, 0%, 100%)

}
*{
  font-family: 'Space Mono', monospace;
  font-weight: 700;
  font-size: 24px;

}
@media (max-width: 375px) {
  
}
body{
  margin: 0;
}
.landing-page{
  width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: var(--light-grayish-cyan);
}
.main-screen{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  gap: 50px;
}
.main-screen .content{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  border-radius: 10px;
  padding: 40px;
}
.manage-area{
  display: flex;
    flex-direction: column;
    gap: 30px;
}
.manage-area label{
  font-size: 16px;
  color: var(--grayish-cyan);
}
.manage-area .input{
  position: relative;

}
.manage-area input{
  background-color: var(--very-light-grayish-cyan);
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  text-align: right;
  color: var(--dark-cyan);
  padding: 10px 20px 10px 40px;
}
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.manage-area input:focus,.manage-area input:hover{
  outline: 2px solid var(--main-color);
}
.manage-area img{
  position: absolute;
  left: 20px;
  z-index: 10;
  top:50%;
  transform: translateY(-50%);
}

.manage-area .tip-group .button-group{
  display: grid;
  grid-template-columns: repeat(3, 120px);
  grid-template-rows: repeat(2,1fr);
  gap: 10px;
}
.manage-area .tip-group .btn{
  background: var(--dark-cyan);
    border-radius: 5px;
    padding: 10px 15px;
    text-align: center;
    color: var(--white);
    cursor: pointer;
    
}
.manage-area .tip-group .btn:hover,.btn.choosed{
  background-color: var(--main-color);
  color: var(--dark-cyan);
}
.manage-area .tip-group .custom-btn,.manage-area .tip-group .custom-btn:hover{
  background: var(--very-light-grayish-cyan);
  color: var(--dark-grayish-cyan);
  border: 0;
}
.manage-area .tip-group .custom-btn:focus{
  outline: 2px solid var(--main-color);
  color: var(--dark-cyan);
}
input.error{
border: 1px solid #b87b6a;
}
label input.error{
  display: inline;
}